.card {
    height: 100%;
    border: 2px solid;
    margin: 10px 0px;
    
    &__image,
    &__title {
        height: 50%;
    }
    &__title {
        padding: 20px;
    }
    &__image img {
        height: 100%;
    }
}